<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="logo">
                <img src = "../images/logo.png" width="150" height="150">
            </div>
            <h1 id="title"> EVALUATE NEWS BY NLP </h1>
            <nav class="info">
                <a href="https://www.facebook.com/profile.php?id=100060978734517"><img src="../images/facebook.png" height="30" width="30"></a>
            </nav>
        </header>

        <main>
            <section>
                <form id="urlForm">
                    <input id="name" type="text" name="url" placeholder="Enter URL" required>
                    <button id="submitButton" type="submit">Submit</button>
                </form>
                
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <p id = "confidence"></p>
                    <p id = "irony"></p>
                    <p id = "score_tag"></p>
                    <p id = "subjectivity"></p>
                    <p id = "text"></p>

                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script> -->
    </body>
</html>
