header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    #title{
        color: red;
        font-family:'Courier New', Courier, monospace;
        font-size: xx-large;
        font-weight: bolder;
        padding-top: 50px;
    }
}
